@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Arima:wght@100..700&family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Wet+Paint&family=Satisfy&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --black_color: #222222 !important;
    --white_color:#ffffff !important;
    --dark_gray_color:#393939 !important;
    --middle_gray_color:#474747 !important;
    --light_gray_color:#555555 !important;
    --blue_color:#19B4FD !important;
    --light_blue_color:#4DD2FF !important;
}
body
{
    background-color: var(--black_color) !important;
    color: var(--white_color) !important;
}
nav p{
    font-family: "Rubik Wet Paint", system-ui !important;
    font-weight: 100 !important;
    font-size: 40px !important;
    margin-top: 15px !important;
}
nav .fy-letter{    
    color: var(--blue_color) !important;
}
.w-100
{
    max-width: 1000px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.register-form
{
    background-color: var(--middle_gray_color) !important;
}
.register-form label
{
    color: var(--white_color) !important;
    font-size: 20px !important;
}
.register-form input
{
    background-color: var(--middle_gray_color) !important;
    color: var(--white_color) !important;
    border: 1px solid var(--light_blue_color) !important;
}
.register-form input:focus
{
    outline: none !important;
    box-shadow: 2px 0px 10px var(--light_blue_color) !important;
    border: 1px solid var(--light_blue_color) !important;
}
.btn
{
    width: 100px !important;
    background-color: var(--middle_gray_color) !important;
    color : var(--light_blue_color) !important;
    border: 1px solid var(--light_blue_color) !important;
    outline: none !important;
    box-shadow: 2px 0px 10px var(--blue_color) !important;
}
.btn:hover
{
    background-color: var(--light_blue_color) !important;
    color : var(--middle_gray_color) !important;
    box-shadow: 2px 0px 15px var(--light_blue_color) !important;
}
.account , .login-link
{
    font-size: 17px;
}
.login-link
{
    color: var(--light_blue_color) !important;
    text-decoration: none !important;
}
.login-link:hover , .login-link:focus
{
    color: var(--blue_color) !important;
    text-decoration: underline !important;
}