@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Arima:wght@100..700&family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Wet+Paint&family=Satisfy&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --black_color: #222222 !important;
    --white_color:#ffffff !important;
    --dark_gray_color:#393939 !important;
    --middle_gray_color:#474747 !important;
    --light_gray_color:#555555 !important;
    --blue_color:#19B4FD !important;
    --light-blue_color:#4DD2FF !important;
}
body
{
    background-color: var(--black_color) !important;
    color: var(--white_color) !important;
}
nav .logo{
    font-family: "Rubik Wet Paint", system-ui !important;
    font-weight: 100 !important;
    font-size: 40px !important;
    margin-top: 15px !important;
}
nav .fy-letter{    
    color: var(--blue_color) !important;
}
.navbar-toggler
{
    border: 2px solid var(--blue_color) !important;
    margin-top: 21px !important;
    box-shadow: 2px 2px 7px var(--blue_color) !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2319B4FD' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
nav .btn
{
    color: var(--white_color);
    box-shadow: 2px 3px 10px var(--blue_color);
    margin-right: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 15px;
    transition: all 0.7s ease;
}
nav .btn-logout , .confirm
{
    background-color: var(--black_color) !important;
    border: 2px solid var(--blue_color) !important;
    color: var(--blue_color) !important;
}
.cancel
{
    background-color: var(--blue_color) !important;
    color : var(--black_color) !important;
}
nav .btn:hover
{
    transform: scale(1.1);
}
nav .hi , nav .cart-count
{
    font-size: 18px !important;
    margin-top: 5px !important;
}
nav .cart-count
{
    color: var(--blue_color) !important;
}
nav .bi-cart
{
    font-size: 25px !important;
    color: var(--blue_color) !important;
}
.modal-content
{
    width: 400px !important;
    background-color: var(--black_color) !important;
    color: var(--white_color) !important;
    border: 2px solid var(--blue_color) !important;
    box-shadow: 2px 2px 15px var(--blue_color) !important;
}
.modal-header , .modal-footer
{
    border: none !important;
    outline: none !important;
}
.modal-title
{
    color: var(--blue_color) !important;
    font-size: 21px !important;
    font-weight: 600 !important;
    border-bottom: none !important;
    outline: none !important;
}
.confirm , .cancel
{
    border-radius: 25px !important;
}
.card
{
    background-color: var(--middle_gray_color) !important;
    border: 1px solid var(--blue_color) !important;
    box-shadow: 2px 2px 10px var(--blue_color) !important;
    transition: all 0.7s ease;
}
.card:hover
{
    border: 2px solid var(--blue_color) !important;
    box-shadow: 4px 4px 20px var(--blue_color) !important;
}
.img-fluid
{
    height: 100% !important;
    object-fit: cover !important;
}
.card-title
{
    color: var(--blue_color) !important;
    font-weight: 600 !important;
    width: 100%;
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    --webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    word-break: break-word !important;
}
.card-text
{
    color: var(--white_color) !important;
    font-weight: 200;
}
.remove-item
{
    background-color: var(--blue_color) !important;
    color: var(--black_color) !important;
    border: 1px solid var(--black_color) !important;
    box-shadow: 0px 3px 15px var(--blue_color) !important;
}
.amount i
{
    color: var(--blue_color) !important;
    cursor: pointer;
    font-size: 27px !important;
    transition: all 0.7s ease;
}
.bi-file-plus-fill ,  .bi-file-minus-fill
{
    display: none;
    color: var(--light-blue_color) !important;
    cursor: pointer;
    font-size: 27px !important;
    transition: all 0s ease;
}
.amount .bi-file-plus:hover , .amount .bi-file-minus:hover , .amount .bi-file-plus:focus , .amount .bi-file-minus:focus
{
    opacity: 0;             
}
.amount .bi-file-plus:hover + .bi-file-plus-fill  , .amount .bi-file-minus:hover + .bi-file-minus-fill , .amount .bi-file-plus:focus + .bi-file-plus-fill  , .amount .bi-file-minus:focus + .bi-file-minus-fill
{
    opacity: 1;
    display: inline;
    margin-left: -31px;
    z-index: 1;
}
.amount span
{
    font-size: 23px !important;
    margin: 0 2px !important;
    color: var(--blue_color) !important;
}
.remove-item:hover
{
    background-color: var(--middle_gray_color) !important;
    color: var(--blue_color) !important;
    border: 1px solid var(--light-blue_color) !important;
    box-shadow: 0px 3px 20px var(--light-blue_color) !important;
}
.cart-total h4
{
    color: var(--blue_color) !important;
}
.empty-cart
{
    animation: displayMessage 0.75s ease-in-out forwards;
}
@keyframes displayMessage {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 767px) {
    .card-title , .card-text
    {
        text-align: center;
    }
}



